aiofiles==24.1.0
alembic==1.16.4
annotated-types==0.7.0
anyio==4.6.2.post1
arabic-reshaper==3.0.0
asgiref==3.8.1
asn1crypto==1.5.1
asttokens==3.0.0
beautifulsoup4==4.12.3
blinker==1.8.2
cachetools==5.5.2
certifi==2024.8.30
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.2
comtypes==1.4.16
contourpy==1.3.0
cryptography==46.0.3
cssselect2==0.8.0
cycler==0.12.1
decorator==5.2.1
distro==1.9.0
Django==4.2.10
dnspython==2.7.0
email_validator==2.2.0
et-xmlfile==1.1.0
executing==2.2.0
extensions==0.4
facenet-pytorch==2.6.0
fastapi==0.115.6
fastapi-cli==0.0.7
ffmpy==0.5.0
filelock==3.18.0
Flask==2.3.4
Flask-Cors==4.0.0
Flask-Login==0.6.3
Flask-Migrate==4.1.0
flask-mysql-connector==1.1.0
Flask-SQLAlchemy==3.0.5
fonttools==4.53.1
freetype-py==2.5.1
fsspec==2025.5.0
generativeai==0.0.1
google-ai-generativelanguage==0.6.15
google-api-core==2.25.0rc1
google-api-python-client==2.169.0
google-auth==2.40.1
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
grad-cam==1.5.5
gradio==5.32.0
gradio_client==1.10.2
greenlet==3.2.2
groovy==0.1.2
grpcio==1.71.0
grpcio-status==1.71.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.0
huggingface-hub==0.32.3
idna==3.8
ipython==9.2.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
jiter==0.8.0
joblib==1.5.1
jupyterlab_widgets==3.0.15
kiwisolver==1.4.5
llvmlite==0.44.0
lxml==6.0.2
Mako==1.3.10
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
more-itertools==10.7.0
MouseInfo==0.1.3
mpmath==1.3.0
mysql-connector-python==9.6.0
networkx==3.4.2
numba==0.61.2
numpy==2.2.6
openai==1.55.3
openai-whisper==20240930
opencv-contrib-python==4.12.0.88
opencv-python==4.11.0.86
openpyxl==3.1.5
orjson==3.10.18
oscrypto==1.3.0
packaging==24.1
pandas==2.2.2
parso==0.8.4
pdf2image==1.17.0
pillow==10.2.0
polars==1.39.3
polars-runtime-32==1.39.3
prompt_toolkit==3.0.51
proto-plus==1.26.1
protobuf==5.29.4
psutil==7.2.2
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAutoGUI==0.9.54
pycairo==1.29.0
pycparser==2.23
pydantic==2.10.2
pydantic_core==2.27.1
pydub==0.25.1
PyGetWindow==0.0.9
Pygments==2.18.0
pyHanko==0.32.0
pyhanko-certvalidator==0.29.0
PyMsgBox==1.0.9
pyparsing==3.1.4
pypdf==6.6.0
PyPDF2==3.0.1
pyperclip==1.9.0
pypiwin32==223
PyRect==0.2.0
PyScreeze==1.0.1
python-bidi==0.6.7
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.20
pyttsx3==2.99
pytube==15.0.0
pytweening==1.2.0
pytz==2024.1
pywhatkit==5.4
pywin32==311
PyYAML==6.0.2
regex==2024.11.6
reportlab==4.4.9
requests==2.32.3
rich==13.9.4
rich-toolkit==0.12.0
rlPyCairo==0.4.0
rsa==4.9.1
ruff==0.11.12
safehttpx==0.1.6
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.3
semantic-version==2.10.0
setuptools==80.8.0
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
SpeechRecognition==3.14.3
SQLAlchemy==2.0.41
sqlparse==0.5.3
stack-data==0.6.3
starlette==0.41.3
svglib==1.6.0
sympy==1.14.0
threadpoolctl==3.6.0
tiktoken==0.9.0
tinycss2==1.5.1
tokenizers==0.21.1
tomlkit==0.13.2
torch==2.2.2+cu118
torchaudio==2.2.2+cu118
torchvision==0.17.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.52.4
ttach==0.0.3
typer==0.15.1
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.3.1
ultralytics==8.4.27
ultralytics-thop==2.0.18
uritemplate==4.1.1
uritools==6.0.1
urllib3==2.2.2
uvicorn==0.34.0
watchfiles==1.0.3
wcwidth==0.2.13
webencodings==0.5.1
websockets==14.1
Werkzeug==3.0.4
widgetsnbextension==4.0.14
wikipedia==1.4.0
xhtml2pdf==0.2.17
youtube-dl==2021.12.17
